/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos generales*/
html {
  font-family: Arial, Helvetica, sans-serif; }
  html body {
    background-color: whitesmoke; }
    html body h1 {
      text-align: center;
      margin: 10px; }
    html body h2 {
      text-align: center; }
    html body header nav .fondo-menu:hover {
      background-color: #d5e6ed; }
    html body main {
      background-color: #d5e6ed; }
    html body footer {
      padding: 20px;
      text-align: center; }

/* estilos del index */
main .contenedor {
  background-image: url(../img/img-uno.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 1rem; }

main .contenedor-dos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  justify-items: center;
  margin: 1rem; }

/* mq de tablets 600px para arriba */
@media screen and (min-width: 600px) {
  /* estilos del index */
  main .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr); } }

/* mq de pantalla de escritorio*/
@media screen and (min-width: 1024px) {
  /*estilos index*/
  main .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr); } }

/* estilos sobre nosotros */
main .nosotros {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin: 1rem; }

main .titulo-sobrenosotros {
  grid-column: span 1; }

main .profesional-odontologa {
  grid-column: span 1;
  grid-row: span 1; }

main .tecnica-estetica {
  grid-column: span 1;
  grid-row: span 1; }

/* mq de tablets 600px para arriba */
@media screen and (min-width: 600px) {
  /* estilos sobre nosotros */
  main .nosotros {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 1rem;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 1rem; }
  main .titulo-sobrenosotros {
    grid-column: span 2; }
  main .profesional-odontologa {
    grid-column: span 1;
    grid-row: span 2; }
  main .tecnica-estetica {
    grid-column: span 1;
    grid-row: span 2; } }

/* mq de pantalla de escritorio*/
@media screen and (min-width: 1024px) {
  /* estilos sobre nosotros */
  main .nosotros {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 1rem;
    gap: 3rem; }
  main .titulo-sobrenosotros {
    grid-column: span 2; }
  main .profesional-odontologa {
    grid-column: span 1;
    grid-row: span 3; }
  main .tecnica-estetica {
    grid-column: span 1;
    grid-row: span 3; } }

/* estilos tratamientos */
main .tratamientos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin: 1rem; }

/* mq de tablets 600px para arriba */
@media screen and (min-width: 600px) {
  main .tratamientos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 5rem; }
  main .titulo-tratamientos {
    grid-column: span 2;
    grid-row: span 1; }
  main .tratamientos-odontologicos {
    grid-column: span 2;
    grid-row: span 1; }
  main .tratamientos-esteticos {
    grid-column: span 2;
    grid-row: span 1; } }

/* estilos de html promociones */
main .promos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem; }

main .titulo-promos {
  grid-column: span 1;
  grid-row: span 1;
  gap: 2rem;
  margin: 2rem; }

/* mq de tablets 600px para arriba */
@media screen and (min-width: 600px) {
  main .promos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  main .titulo-promos {
    grid-column: span 2;
    grid-row: span 1; } }

/* estilo de html contacto */
main .form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center; }

main .form-contacto {
  grid-column: span 1;
  grid-row: span 1;
  justify-items: center;
  align-items: center; }

main .map {
  grid-column: span 1;
  grid-row: span 1;
  justify-items: center;
  align-items: center; }
