/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//import
@import "./html/estilosgenerales";
@import "./html/home";
@import "./html/sobrenosotros";
@import "./html/tratamientos";
@import "./html/promociones";
@import "./html/contacto";



