//import mixin
@import "../utilidades/mixin";


/* estilo de html contacto */
main{
  .form {
  @include grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
 
}  

.form-contacto{
    grid-column: span 1;
    grid-row: span 1;
    justify-items: center;
    align-items: center;

}

.map{
 grid-column: span 1;
 grid-row: span 1;
 justify-items: center;
 align-items: center;

}

}







