//import mixin
@import "../utilidades/mixin";

/* estilos de html promociones */

main
{
   .promos{
    @include grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    gap: 1rem;
    margin: 2rem;
   
}
 .titulo-promos{
    grid-column: span 1;
    grid-row: span 1;
    gap: 2rem;
    margin: 2rem;
}
 }
 
 
 
 /* mq de tablets 600px para arriba */
 @media  screen and (min-width:600px){
     
     
    main
    {
        .promos{
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2,1fr);
 }
    .titulo-promos{
        grid-column: span 2;
        grid-row: span 1;
    }
    }
 
 }